@()

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <div>
            <h2>Columbus Scala Enthusiasts</h2>
            <p>Small demo using the Play framework and Web Sockets.</p>
            <p>Click "Start or Join" and then click the archery target as many times as you can, as quickly
            as you can.  Clicks nearer the center of the target produce higher scores.  The first player to
            extend his progress bar across the screen wins.</p>
        </div>
        <div>
        @helper.form(action = routes.GameController.startOrJoin()) {
            <div><label for="name-field">Your name:&nbsp;</label><input id="name-field" type="text" name="name"></div>
            <div><input type="submit" name="submit" value="Start or Join"></div>
        }
        </div>
    </body>
</html>
