@(maxScore: Int, playerName: String)(implicit request: RequestHeader)

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script language="javascript" src="@routes.Assets.versioned("javascripts/Utils.js")"></script>
        <script language="javascript" src="@routes.Assets.versioned("javascripts/PlayingFieldManager.js")"></script>
        <script language="javascript" src="@routes.Assets.versioned("javascripts/ScoreDisplayManager.js")"></script>
        <script language="javascript" src="@routes.Assets.versioned("javascripts/GameManager.js")"></script>
    </head>
    <body>
        <div id="score-display" style="width:800px;height:200px;"></div>
        <div id="playing-field" style="width:800px;height:600px;">
            <img id="target" src="@routes.Assets.versioned("images/target.png")">
        </div>
        <script language="javascript">
            var pfdiv = document.getElementById ("playing-field");
            var sddiv = document.getElementById ("score-display");
            var targimg = document.getElementById ("target");
            var playingField = PlayingFieldManager (pfdiv, targimg);
            var scoreDisplay = ScoreDisplayManager (sddiv, @maxScore, [
                "#FFA0A0", "#FFFFA0", "#A0FFA0", "#A0FFFF", "#A0A0FF", "#FFA0FF"
            ]);
            var gameManager = GameManager (playingField, scoreDisplay, "@playerName");
            gameManager.start ("@routes.GameController.socket.webSocketURL()");
        </script>
    </body>
</html>
